# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/component/Navbar/Navbar context.jsx
src/component/Modal/Add context.jsx
src/component/Navbar/Profile.jsx
src/component/Navbar/SearchBox context.jsx
src/content/page/listCard/listCard context.jsx
src/content/page/listCard/viewDetail context.jsx
src/content/page/listCard/pageButton copy.jsx
src/content/page/listCard/pageButton context.jsx
